<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>


<form action="/searches" accept-charset="UTF-8" method="get" id="searchForm">
<input name="utf8" type="hidden" value="✓">
<input type="hidden" name="authenticity_token" value="IX25RkgVzUCkjjmzhX7DUYOQ00nl16BmCVygSZDba3zMbkUNe/iEGlSBelCR1ZW39KnYj/bK2btg4S2iIdD/lg==">
<p>
<input type="text" name="search" id="search">
<input type="submit" value="Search" id="search_submit">
</p>
</form>
<div id="result"></div>

<p id="notice"><%= notice %></p>



        <!-- the result of the search will be rendered inside this div -->
        
        <script>
            /* attach a submit handler to the form */
            $("#searchForm").submit(function(event) {
                event.preventDefault();
                /* get some values from elements on the page: */
                var $form = $(this),
                    term = $form.find('input[name="search"]').val(),
                    url = $form.attr('action');

                /* Send the data using post */
                var getting = $.get(url, {
                    search: term
                });

                /* Put the results in a div */
                getting.done(function(data) {
                    var content = $(data).find('#content');
                    $("#result").empty().append(content);
                });
                
            });


        </script>

<div id="students"><%= render 'students' %></div>









<%= link_to 'New Student', new_student_path, remote: true %>
